$lime-green: #C8F526;
$oil: #333333;


// We use these to control button text styles.
$button-font-family: "Myriad Pro Condensed";
$button-font-color: black;



// We use these to control button text styles.
//to transfer to settings. 

// $button-font-tny: rem-calc(38);
// $button-font-sml: rem-calc(54);
// $button-font-med: rem-calc(64);
// $button-font-lrg: rem-calc(75);



$button-font-tny: 38px;
$button-font-sml: 54px;
$button-font-med: 64px;
$button-font-lrg: 75px;


$button-function-factor: 20%;
$button-bg-color: $lime-green;
$button-bg-hover: transparent;
$button-bg-hover: scale-color($button-bg-color, $lightness: $button-function-factor);


