.contact{

	h2{
		border-bottom: 3px solid #333;
		display: inline-block;
		float: right;
		text-align: right;
	}

	p{
		margin-top: 4vh;
		display: inline-block;
		float: right;
		line-height: 2.2rem;
	}

	h4{
		line-height: 2rem;

		
	}
}

#location-box{
	padding: 2rem 1.5rem;
	border: 2px solid $lime-green;
	display: inline-block;
	margin-top: 4rem;
}

#email-box{
	@extend #location-box;
	float: right;
	margin-top: 1rem;
}