$body-font-family: "Myriad Pro";
$triangle-media-query-breakpoint-big: "
	only screen and (min-width: 941px)";


h1{
	font-family: "Myriad Pro Bold Condensed";
	font-size: 75px;
	color: $lime-green;
	margin:5px 0;


}


header {
	h1{
		@media #{$triangle-media-query-breakpoint-big} {
			color: black;
		}

	}
}





h2{
	font-family: "Myriad Pro Condensed";
	font-size: 64px;
	color: $lime-green;

}







h2.h2-landing-text {
	font-family: "Myriad Pro Condensed";
	font-size: 35px;
	color: white;
	margin:0;



	@media #{$triangle-media-query-breakpoint-big} {
		color: black;
	}
}





h6{
	font-family: "Myriad Pro";
	font-weight: 600;
	font-size: 20px;
	color: black;

	a{
		color: black;
	}
}




