$body-font-family: "Myriad Pro";



h5{
	font-family: "Myriad Pro";
	font-weight: 600;
	font-size: 20px;
	color: black;

	a{
		color: black;
	}
}



h2#landing-text1,
h2#landing-text2{
	font-family: "Myriad Pro Condensed";
	font-size: 40px;
	color: white;
}


h1{
	font-family: "Myriad Pro Condensed";
	font-size: 70px;
	color: $lime-green;
}