$transparent-black-overlay: transparentize(#000, 0.30);
$transparent-black-overlay-darker: transparentize(#000, 0.20);

$lime-green: #C8F526;

$triangle-media-query-breakpoint-small: "
	only screen and (max-width: 940px)";

$triangle-media-query-breakpoint-big: "
	only screen and (min-width: 941px)";

$triangle-lime-above-tablet-margin-top: rem-calc(194) - $topbar-height+ .2;
//194 is measured margin from illustrator file




.tablet-down{
	display:inline-block;
	text-align: center;
	@media #{$medium-up}{text-align:left}
	position: absolute;
	margin-top: 140px;

	a.button{
		margin: 50px 30px 0 0;
	}

	a.button:nth-child(2){
		margin-left: 30px;
	}



	@media #{$triangle-media-query-breakpoint-big} {
		display: none;

	}	

}




.tablet-up{
	display: none;
	margin-top: $triangle-lime-above-tablet-margin-top + 4.4;
	margin-left: 20px;
	@media (min-width:1120px){
		margin-left: 5px;
		margin-top: $triangle-lime-above-tablet-margin-top + 5.5;
		}
	@media (min-width: 1250px){
		margin-left: 70px;
	}

	@media #{$xlarge-up}{
		margin-left: 80px;
	}


	ul li{
		display: inline-block;

		}

	li:nth-child(2){
		margin-left: 25px;
	}


	.landing-buttons{
		margin-top: 120px;



		a:nth-child(2){
			margin-left: 30px;
		}

		

	}
















	@media #{$triangle-media-query-breakpoint-big} {
			display: inline-block;

		}	

}








// //////////   /////// BACKGROUND  ////////   /////////////  //
header {
	background: url("../img/landing_back.png") no-repeat top center;

	@media #{$large-up} {
		background: url("../img/landing_back.png");
	}
	background-size: cover;

	#landing-overlay{
		height: 780px;
		width: 100%;
		background-color: $transparent-black-overlay;

		@media #{$triangle-media-query-breakpoint-small}{
			background-color: $transparent-black-overlay-darker;
		}

	}


	#triangle-back-lime{

		position: absolute;


		@media #{$triangle-media-query-breakpoint-small}{

			margin-top: rem-calc(780) - $topbar-height - rem-calc(160);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 160px 0 0 75vw;
			border-color: transparent transparent transparent $lime-green;

		}		


		@media #{$triangle-media-query-breakpoint-big} and (max-width: $medium-breakpoint) {

			margin-top: $triangle-lime-above-tablet-margin-top;


			background: url("../img/triangle-back-lime.png") no-repeat top center;
			width: 100%;
			height: 306px;
		}



		@media #{$large-up} {
			margin-top: $triangle-lime-above-tablet-margin-top;


			width: 0;
			height: 0;
			border-style: solid;
			border-width: 236px 0 70px 100vw;
			@media #{$xlarge-up}{
				border-width: 236px 0 75px 100vw;
			}

			border-color: transparent transparent transparent $lime-green;
		}


		
	}


	#triangle-back-grey{

			position: absolute;


		@media #{$triangle-media-query-breakpoint-big} and (max-width: $medium-breakpoint) {


			background: url("../img/triangle-back-grey.png") no-repeat bottom left;
			width: 100%;
			height: 360px;

			margin-top: rem-calc(780)- rem-calc(360) -$topbar-height;
		}

		

		@media #{$large-up} {
			margin-top: rem-calc(780)- rem-calc(370) -$topbar-height;

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 370px 100vw;
			@media #{$xlarge-up} {
				border-width: 0 0 420px 100vw;
				margin-top: rem-calc(780)- rem-calc(370) -$topbar-height - rem-calc(50);
				
			}
			border-color: transparent transparent #1a1a1a transparent;
		}
		
	}
		








}