#personal-top {
	padding-top: 20px;
	display: block;
	height: 100px;
	
	ul {
		list-style-type: none;
	}

	li {
		float: left;
		margin: 0 20px;
	}
}

.hero {
	text-align: left;
}

header {
	background: green;
}