// fixed background attachment (hero) - nav bar override 
.off-canvas-wrap, .inner-wrap {
  @include backface-visibility(visible);
    // -webkit-backface-visibility: visible; 
    // backface-visibility: visible;

}


.offcanvas-overlap, .offcanvas-overlap-left{
  @include backface-visibility(visible);
  // -webkit-backface-visibility:visible;
  // backface-visibility: visible;

}



// main


.right-off-canvas-toggle {
  .menu-display {
    float: right;
    opacity: 0;
    display: block;
    margin: 2.5rem 2.5rem;
    position: fixed;
    z-index: 1;
    margin-left: 85%;
    @media (max-width:399px) {
      margin: 2rem; 
      margin-left: 80%;
    }


    @media #{$medium-only}{
      margin-left: 90%;
    }
    
    @media #{$large-up} {
      margin-left: 92%;
    }

    @media #{$xlarge-up}{
      margin-left: 94%;
    }

  }  


}

.right-off-canvas-toggle{
.menu-click{
  @extend .menu-display;
  position: absolute;
  // background-color: red;
  opacity: 0;
  z-index: 1;

}

.menu-visible{
  opacity: 1;
}
}











$menu-text-width-percent: 0.36;

$menu-push-percent-small: 0.8;
$menu-side-padding-small: ($menu-push-percent-small - $menu-text-width-percent)/2;

$menu-push-percent-med: 0.5;
$menu-side-padding-med: ($menu-push-percent-med - $menu-text-width-percent)/2;







.move-left .exit-off-canvas {
  box-shadow: none;
}

.right-off-canvas-menu {
   .soc{
    margin-top: 1rem;
  }
  width: percentage($menu-text-width-percent);


}

.move-left > .inner-wrap {
  @include transform(translate3d(percentage((0- $menu-push-percent-small)), 0, 0));
  // transform: translate3d(percentage((0- $menu-push-percent-small)), 0, 0); 

  @media #{$medium-only}{
    @include transform(translate3d(percentage((0- $menu-push-percent-med)), 0, 0));
    // transform: translate3d(percentage((0- $menu-push-percent-med)), 0, 0); 
  }

  @media #{$large-up} {
    @include transform(translate3d(-36%, 0, 0));
    // transform: translate3d(-36%, 0, 0); 

  }

}

.right-off-canvas-menu {
  background: #26c8f5;
  padding: 3rem percentage($menu-side-padding-small);
  // text-align: center;

  @media #{$medium-only}{
    padding: 3rem percentage($menu-side-padding-med);
  }

  @media #{$large-up} {
    
    padding: 2rem 4rem;
    text-align: left;
  }

  .side-nav.main li a:not(.button) {
    // font-weight: 100;
    font-family: "Varela";
    font-style: normal;
    font-size: 3rem;
    padding-top: 0.5rem;
    color: $jet;
    text-transform: capitalize;
    .is-active, &:hover {
      color: #f1f3f3;
      background: transparent;
    }

    @media #{$small-only}{
      font-size: 2.4rem;
      padding-top: 0;
      padding-left: 0;
      // line-height: 1.5rem;
    }
  }



  ul.side-nav-main{
    @media (max-width: 399px){
      padding:0;
      margin-top: -1rem;
    }
}

  // .social {
  //   // padding-left: 0.8rem;
  //   padding-top: 6rem;
  //   li {
  //     text-align: center;
  //   }
  //   i {
  //     font-size: 1.7rem;
  //     font-weight: 300;
  //     color: #00d7ff;
  //     padding: .01em .4em;
  //     // border-radius: 50%;
  //     background: #333;
  //     border: 2px solid #333;
  //     &:hover {
  //       background: #00d7ff;
  //       color: #333;
  //       transition: all 500ms ease-in .1s;
  //     }
  //   }
  // }
}






.top-bar,
.middle-bar,
.bottom-bar {
  display: block;
  width: 40px;
  height: 7px;
  background-color: #333;
  margin-bottom: 7px;
  @include transition(transform 0.4s cubic-bezier(1, 0, 0, 1));
  @include transition(background-color 0.6s ease 0);
  // transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0, background-color 0.6s ease 0;
  @media (max-width: 399px){
    width: 40px * 0.9;
    height: 7px * 0.9;
    margin-bottom: 7px * 0.9;
  }
}

.top-bar, .bottom-bar {
  @include transform-origin(100% 50%);
  // transform-origin: 100% 50%;
}

.middle-bar {
  @include transition-property(opacity);
  // transition-property: opacity;
  @include transition-duration(0.6s);
  // transition-duration: 0.6s;
}

.top-bar-close {
  @include transform(rotate(-45deg));
  // transform: rotate(-45deg);
  background-color: #333;
}

.middle-bar-close {
  opacity: 0;
  @include transition-property(opacity);
  // transition-property: opacity;
  @include transition-duration(0.3s);
  // transition-duration: 0.3s;
}

.bottom-bar-close {
  @include transform(rotate(45deg));
  // transform: rotate(45deg);
  background-color: #333;
}



.bar-against-pic-color{
  background-color: $lime-green;
}


.right-off-canvas-menu{

  .soc{
    padding-left: 1rem;
  }

  .soc a:hover {
    z-index: 2;
    -webkit-transform: none;
    transform: none;
    color: white;
    border: 2px solid white;
}

  .soc li a {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 44px;

    @media #{$small-only}{
      display: none;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 22px;
    }
  }
}










