.fe-info-summary{
	margin-top: 6vh;


	h2{
		margin: 10vh 0 4vh 0;	
	}

	h3{
		margin-top: 3vh;
	}

	li{
		padding-bottom: 0.4rem;

	}
}





.fe-solution-section-new{
	margin-top: 26vh;
}





.solutions-detail{
	h1{ 
		color: transparentize($lime-green, 0.1);
		padding: 0;
		float: right;
		margin: -9vh 3rem 0 0;
		font-size: 110px;

	}

	h2{
		margin-top: 0.3rem;
	}
}











.solution-alt-background{
	background-color: transparentize($lime-green, 0.1);

	margin-top: 12vh;
	transform: skew(0deg, 175deg);
	padding-bottom: 10vh;

	.fe-solution-section-new{
		margin-top: 12vh;
	}

	h1{
		color: white;
	}



	& > * {
		transform: skew(0deg, -175deg);
	}



}

p.smallnote-text{
	font-size: 92%;
	margin-top: 0.5rem;


}




















//images to click and expand in modal 
.modal-click{
	img{
		// transition: box-shadow 500ms;
	}

	img:hover{
		// box-shadow: 0px 0px 30px 0px transparentize($lime-green, 0.5);
		// border: 2px solid $lime-green;
	}


}

.tint {
	position: relative;
	// float: left;
	// cursor: pointer;
	width:100%;
	margin:0;
}

.tint:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: none;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

// .tint:hover:before {
// 	background: transparentize(black, 0.5);
// }

#hover-expand{
	position: absolute;
	margin: 2rem 1rem;
	padding: 2rem;
	color: transparentize($lime-green, 0.5);
	display:none;
	line-height: 2rem;

}











