.fe-solution-section-new{
	margin-top: 26vh;
}



//images to click and expand in modal 
.modal-click{
	img{
		transition: box-shadow 500ms;
	}

	img:hover{
		box-shadow: 0px 0px 30px 0px transparentize($lime-green, 0.5);
		
	}


}

.tint {
	position: relative;
	// float: left;
	// cursor: pointer;
	width:100%;
	margin:0;
}

.tint:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: none;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

.tint:hover:before {
	background: transparentize($lime-green, 0.3);
}













