$lime-green: #C8F526;

// We use these to control the style of the reveal overlay.
$reveal-overlay-bg: transparentize($lime-green, 0.1) ;
// $reveal-overlay-bg-old: red;

// We use these to control the style of the modal itself.
$reveal-modal-bg: transparentize(#000, 0.15);


//use this when dropping into settings.scss
// $reveal-position-top: rem-calc(25);
$reveal-position-top: 25px;




$reveal-default-width: 90%;
// $reveal-max-width: $row-width;
// $reveal-modal-padding: rem-calc(20);
// $reveal-box-shadow: 0 0 10px rgba($black,.4);

// We use these to style the reveal close button
// $reveal-close-font-size: rem-calc(40);
// $reveal-close-top: rem-calc(10);
// $reveal-close-side: rem-calc(22);
// $reveal-close-color: $base;
$reveal-close-weight: normal;

// We use this to set the default radius used throughout the core.
// $reveal-radius: $global-radius;
// $reveal-round: $global-rounded;

// We use these to control the modal border
// $reveal-border-style: solid;
$reveal-border-width: 0px;
$reveal-border-color: transparent;

// $reveal-modal-class: "reveal-modal";
// $close-reveal-modal-class: "close-reveal-modal";
