
$lime-green: #C8F526;

.projects, .work-section{
	background-color: white;

}


.work-section{
	padding-top: 10vh;
	padding-bottom: 7vh;
}

.about-me{
	background-color: $lime-green;
	margin-top: -10vh;


}

#triangle-2-top{
	margin-top: -1vh;
	height: 27vh;
	border-top: 5px solid white;
}







// with 2nd triangle
// .work-section{
// 	padding-bottom: 20vh;
// }


// .triangle-2{

// 	background: url("../img/triangle-pics-2-large.jpg");
// 	background-attachment: fixed;
// 	// background-size: cover;
// 	background-position: top left;
// 	height: $triangle-2-height;
// 	width: 100%
// }

// .about-me{
// 	margin:0;
// 	padding: 7vh 0 7vh 0;
// }




.about-me{

	padding: 0 0 7vh 0;
	margin: 0;
	


	h2, p{
		display: inline-block;
		text-align: left;
		float: right;
		
	}


	.about-text{
		margin-top: -5vh;
	}
}

.project-link{
	margin-bottom: 6vh;
}





.triangle-2{
	height: 30vh;
	-webkit-clip-path: polygon(100% 0%,0 101%, 100% 101%);
	background-color: $lime-green;
}

.triangle-3{
	height: 20vh;
	-webkit-clip-path: polygon(0% 0%,100% 0%, 0% 100%);
	background-color: $lime-green;

}








// contact section
.contact{
	margin-top: 9vh;

	h2{

		float: none ;
		text-align: left;
	}

	p{
		margin-top: 3vh;
		display: inline-block;
		float: left;
		line-height: 2.2rem;
	}

	h4{
		line-height: 2rem;

		
	}
}

#location-box{
	padding: 2rem 1.5rem;
	border: 2px solid $lime-green;
	display: inline-block;
	margin-top: 5rem;
}

#email-box{
	@extend #location-box;
	float: right;
	margin-top: 2rem;
}




