$lime-green: #C8F526;



.about-me {
	background-color: white;
	border: none;
	padding: 0;
}

.work-section, .projects{
	background-color: $lime-green;
	padding-bottom:10rem;
}


.triangle-3{
	height: 30vh;
}

.triangle-2, .triangle-3{

	background: none;
	background-color: $lime-green;
}


.work-title, .projects{
	padding: 0;

}

.work-title{
	margin-top: -10vh;
	
}



.project-link{

	margin: 4em 0 0 0;
}

#triangle-3-bottom{
	height: 30vh;
	margin-top: -30vh;
	background-color: white;

}

