$dark-green: #9cc509;
$medium-green: #B0DF00;



.fe-info-summary{
  margin-top: 6vh;


  h2{
    margin: 10vh 0 4vh 0; 
    // color: $dark-green;
  }

  h3{
    margin-top: 3vh;
    // color: $dark-green;
  }

  li{
    padding-bottom: 0.4rem;

  }
}





h1.section-title{
  color: $lime-green;
  // float: right;
  overflow: auto;
  text-align: right;
}


.solution-numbers{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    counter-reset: step-counter;
}


.solution-numbers li.solution-number{
    counter-increment: step-counter;
}

.solution-numbers li.solution-number::before

 {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: rgb(200,200,200);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;


} 



// .circlemark{
//   background-color: black;
//   width: 10px;
//   height:10px;
//   border-radius: 50%;
//   position: fixed;
// }



////////////////////Solutions///////////////////////////


.solutions{
  ul{
    list-style-type: circle;
  }

  ol p {
    font-weight:bold;
  }
  


  .solution-num{
    display: inline-block;
    width: 100%
  }





  h1{
    color: transparentize($lime-green, 0.1);
    margin: 1.2rem;
    padding:0;
    // font-size: 90px;
    // position: absolute;
    // display: inline-block;
    float: none;
    // display: none;

  }

  .solution-text{ 
    float: none;
    margin-top: 1.5rem;

  }


  h3{
    margin:0 0 1rem 0;
    // float: left;
  }

  a{
    display: inline-block;
    padding: 1.25rem;
    width: 100%;
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;

    &:hover{
      background-color: white;
      h1{
        color: $lime-green;
        display: block;
      }
    }
  
  }


}

.square-row{
  margin:0;

  .panel{
    margin:0;
  }
}







///////////////////////first picture/////////////////////

#fe-pic1{
  background: url("../img/fe-pic1.jpg") top left;
  background-attachment: fixed;

  height: 84vh;
  -webkit-clip-path: polygon(0 43%, 100% 0%, 100% 57%, 0% 100%);

  @media #{$xlarge-up}{
    background-size: cover;
  }

}



h2.after-pic1{
  margin-top: -5vh;

}

h2.after-pic3{
    margin-top: -10vh;
}



#fe-pic2{
  @extend #fe-pic1;
  background-image: url("../img/fe-pic2.jpg");

}

#fe-pic3{
  @extend #fe-pic1;
  background-image: url("../img/fe-pic3.jpg");
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 17%, 0% 100%);

  margin-top: -20vh;
  @media #{$xlarge-up}{
    background-size: 102%;
  }


}


#fe-pic4{
  @extend #fe-pic3;
  background-image: url("../img/fe-pic4.jpg");
  background-size: cover;
  margin-top: 0;
  background-position: top center;


}




.solution-alt-background{
  // background-color: $jumbo;
}






.sub-nav a{
  margin: 0;
}





.content-columns{
  @extend .small-offset-0, .medium-10, .medium-offset-1, .xlarge-offset-0, .xlarge-12, .columns, .small-indent


}






















