// Background color for the top bar
$topbar-bg-color: white;
$topbar-link-color: white;


// Set the link colors and styles for top-level nav
$topbar-link-color: black;
$topbar-link-color-hover: black;
$topbar-link-color-active: black;
$topbar-link-color-active-hover: black;

//$topbar-link-bg-hover: $topbar-bg-color;
//$topbar-link-bg-color-hover: $topbar-bg-color;

$topbar-link-font-size: rem-calc(18);

$topbar-link-font-family: "Myriad Pro";




// Top menu icon styles
$topbar-menu-link-color: black;
$topbar-menu-icon-color: black;



// Transitions and breakpoint styles
$topbar-breakpoint: 768px !default; // Change to 9999px for always mobile layout








