.work-title{
	width:100%;
	padding-top: 20vh;

	// padding-bottom: 10vh;




	h2{
		border-bottom: 3px solid #333;
		display: inline-block;
	

	}

}


.projects{
	
	padding-bottom: 15vh;
	background-color: $white;
	
	a{
		display: inline-block;
	}
}



$project-margin-top: 7rem; 
$project-margin-bottom: 10rem;

.project-link{
margin: $project-margin-top 0 $project-margin-bottom 0;
}



.image-overlay-content{
	background-color: transparentize(black, 0.2);
	display:none;
	position: absolute;


	.project-title{
		text-align: center;

		


	}

	h3{
		color: white;
	}

	h4{
		color: $lime-green;
	}

}








