.work{
	width:100%;
	// padding-top: 15vh;

	h2{
		border-bottom: 3px solid #333;
		display: inline-block;
		padding-bottom: 1rem;

	}

}


.projects{
	margin-top: 6rem;
	height: 2000px;
	a{
		display: inline-block;
	}
}




.project-link{
margin-bottom: 5rem;
}



.image-overlay-content{
	background-color: transparentize(black, 0.2);
	display:none;
	position: absolute;


	.project-title{
		text-align: center;

		


	}

	h3{
		color: white;
	}

	h4{
		color: $lime-green;
	}

}

// .project-fe-link img{
// 	border: 5px solid $lime-green;
// }






