// section one background info 

#project-hundy-page{




.background-main{
	margin-top: 10vh;
	@media #{$small-only}{
		margin-top: -10vh;
	}
}

.small-skew-header{
	width: 100%;
	height: 16vh;
	margin-top: -8vh;
	background-color: white;
	@include transform(skewY(174deg));

}


.summary-images{
	padding: 3rem 0 0 0;

}

//////// MY PROCESS SUBSECTION////////

$triangle-width: 1.1rem; 
// $p-title-size: 1.25rem;
// $p-title-line-height: $paragraph-line-height + ($p-title-size - $paragraph-font-size);


$p-title-size: $h6-font-size;
$p-title-line-height: $header-line-height + ($h6-font-size - $paragraph-font-size) + 0.24;

.my-process{
	h2{
		margin-bottom: 0;
	}

	h6{
		// font-size: 1.25rem;
		margin-right: 5rem;
	}


	.my-process-descript{
		margin-left: 0.3rem;
	}

	ul{
		margin: 0;
		list-style: none;
		// line-height: 1.6;

	}


	///////TRIANGLE BULLET POINTS/////////////

	ul > li{
		margin: 0 0 0 $triangle-width*2.5 ;
		display: inline-block;
	}


	ul > li::before{
	content: "";
    border-color: transparent $lime-green;
    border-style: solid;
    border-width: 0.7rem 0 0.7rem $triangle-width;
    display: block;
    height: 0;
    width: 0;
    left: -$triangle-width *2.5;
    top: $p-title-line-height;
    position: relative;
    margin: 0rem;
    transform: rotate(15deg);

	}



	 @for $i from 2 through 5 {
      ul > li:nth-child(#{$i})::before { 
       transform: rotate($i * 45deg); 
      }
    }



	ol > li{
		margin-left: 0.5rem;
		color: $oil;
		list-style-type: none;
		// display: inline-block;
		// float: left;
		// display: none;
		font-size: 95%;
	}








///////////////ACTION PLAN NUMBERS ////////////////

	// ol.action-plans{
	// 	counter-reset: my-badass-counter;
	// }

	// ol.action-plans li::before{
	// 	content: counter(my-badass-counter);
	// 	counter-increment: my-badass-counter;

	// 	padding: 0 0.2rem 0 0;
	// 	// border: 1px solid $lime-green;
	// 	// background-color: $lime-green;
	// 	// font-weight: bold;
	// 	color: $lime-green;


	// 	margin-right: 0.5rem;
	// 	// -webkit-clip-path: polygon(50% 0%, 0% 0%, 100% 100%);
	// 	// font-size: 80%;

	// }


	

	ol.action-plans li{
		list-style-type: decimal;
		margin-left: 2rem;
	}






//////this closes my process and fe page"///////
}






}





























