#project-hundy-page{

.solution5{
////////////////////////////////////////////////////////////////

.rewards{
	margin-top: 2rem;
}

.rewards-text-right{
	padding-left: 5%;
}

.game-parameters{
	margin-top: 8vh;
}

.game-rules{
	img{
		border: 1px solid $iron;
	}
}







////////////////////////////////////////////////////////////////////
}
}