#project-hundy-page{

.solution4{
////////////////////////////////////////////////////////////////

h2{
	margin-top: 10vh;
}

#sol4-1a{
	img{
	border: 1px solid $iron;

	@media #{$medium-only}{
		width: 60%;
		margin-left: 20%;
	}

	@media #{$large-up}{
		max-width: 115%;
		width: 115%;
		}
	}
}

.education{
	.ed-text-right{
		padding-left: 8%;
	}
}






////////////////////////////////////////////////////////////////////
}
}