#project-hundy-page{

.solution1{

margin-top: 1rem;
//////////////////////
.effective-ui{
	margin-top: 3rem;
}


h6{
	margin:0;
}

p.sub-title{
	margin-bottom: 0.5rem;
	font-size: 94%;
}


///////////////////////



.sol1-1a{

	width: 47%;
	float: left;
	margin-left: 2%;
	// .hidden-wireframe{
	// 	font-size: 80%;
	// 	margin-left: 2rem;
	// 	@media (min-width: 745px) and (max-width: 800px){
	// 		font-size: 100%;
	// 	}
	// }

	img{
		margin-top: 2%;
	}
}

.sol1-1b{
	// width: 35%;
	// width: 40%;
	width: 47%;
	float: right;
	img{
		margin-top: 2%;
	}

}





#user-flow-button{
	background-color: white;
	border: 3px solid $jet;
	color: black;
	font-size: 18px;
	font-family: "Varela";
	margin: 0.7rem 0 0 0;

	&:hover{
		background-color: $jet;
		color: white;
	}

}




























////////////////////////


}
}