#project-hundy-page{

.solution3{
////////////////////////////////////////////////////////////////
.community{
	h4{
		margin-top: 2rem;
	}


#community-wireframes-button{
	background-color: white;
	border: 3px solid $jet;
	color: black;
	font-size: 18px;
	font-family: "Varela";
	margin: 0.7rem 0 3rem 0;

	&:hover{
		background-color: $jet;
		color: white;
		}
	}

}


////////////////////////////////////////////////////////////////////
}
}