#project-hundy-page{

.solution2{
////////////////////////////////////////////////////////////////

.remove-dash{
	margin-top: 3.5rem;
}


.sol2-1{
	h6{
		margin-left: 12%;
	}
}

.pop-up{
	margin-top: 3.5rem;
}


.sol-summary{
	margin-top:6rem;

	p{
		margin-top: 1rem;
	}

	.user-flow{
		margin-top: 3.5rem;
	}
	img{
		border: 1px solid $oil;
	}
}





















////////////////////////////////////////////////////////////////////
}
}