#project-hundy-page{

.solution5{
////////////////////////////////////////////////////////////////


.un-hide{
	margin-top: 3rem;
}

.infographics{
	margin-top: 1.5rem;
	h4{
		text-align: right;
	}

}

.unhide-info-imgs{
	margin-top: 3rem;
}


.infograph-img img{
	border: 1px solid #808080;
}

.FAQ{
	margin-top: 4rem;
}

.sol-summary{
	margin-top:3rem;
}










////////////////////////////////////////////////////////////////////
}
}