#project-hundy-page{

.user-research{






/////////////UNDERSTANDING THE USER////////////////////////////



#user-interview-button{
	background-color: white;
	border: 3px solid $jet;
	color: black;
	font-size: 18px;
	font-family: "Varela";
	margin: 2vh 0 7vh 0;

	&:hover{
		background-color: $jet;
		color: white;
	}

}



#chart_image{
	padding-top: 5vh;
}







//////////////////////////////USER RESEARCH AND PROJ-FE CLOSE////////////////////////
}


}