#thank-you{


.head{
	height: 18vh;
	// background: url("../img/triangle-bottom-medium2.jpg");
	// background-attachment: fixed;
	-webkit-clip-path: polygon(0 0%, 100% 0%, 100% 0%, 0% 100%);
	// background-size: cover;
	// background-position: 0% 10%;
	background-color: $lime-green;
	overflow: hidden;
}


h2{
	margin-top: 5vh;
}

h5{
	margin: 2rem 0 1rem 0;
}

#favicon{
	width: 70px;
	margin-bottom: 2rem;

}

.button{
	color: $jet;
	border: 2px solid $jet;
	background-color: transparent;
	margin-bottom: 8vh;

	&:hover{
		background-color: $jet;
		h6{
			color: $lime-green;
		}
	}
}


.message{
	text-align: center;
}



}




