#project-gateway-page{




/////////////////USE CASES//////////////////


.use-cases{	

	.sub-section-title{
		margin-top: 3rem;
		margin-bottom: 3rem;
	}	

		ul{
			list-style-type: none;
			margin: 2rem 0 0 0;
		}

		ul li{
			width: 31%;
			// display: inline-block;
			float: left;
			text-align: center;

			p{
				line-height: 1.4;
				margin-top: 0.5rem;
			}


			@media #{$small-only}{
				width: 100%;
			}

			&:nth-child(2){
				margin: auto 3.5%;

				@media #{$small-only}{
					margin: 1.25rem 0 2.5rem 0;
			}
			}
		}

}


////////////////////////GOALS PANELS///////////////////////////

.use-cases .panel{

	

	////////////2nd panel/////////////////

	&:nth-child(2){
		background-color: transparentize(black, 0.5s);
		border:none;


		& p{
			color: white;
			font-weight: 300;
		}

	}


	////////////3rd panel/////////////////

	&:nth-child(3){
		background-color: white;
		border: 2px solid $lime-green;		
    	h5{ 		 	
    		 color: $lime-green;
    	}


		& p{
			font-weight: normal;
		}	

	}


} 












////////////CLOSE GOALS PANELS/////////////////


.panel-num-shape{
	text-align: center;
	margin-top: -1.8rem * $header-line-height;

}

@mixin num-triangle-color($num-color, $background-color){
	h5, h6{
		margin-top: -0.5rem;
		color: $num-color;
		// transform: rotate(-$rotate);
	}


	@include clip-path(polygon(45% 0%, 100% 50%, 0 80%));
	// -webkit-clip-path: polygon(45% 0%, 100% 50%, 0 80%);
	display: inline-block;
	padding: 1rem 2rem;
	// padding: (1rem * $padding-multiplier) (2rem * $padding-multiplier);
	background-color: $background-color;
	// transform: rotate($rotate);
}

.num-triangle-white{
	@include num-triangle-color($jet, white);
}




.num-triangle-black{
	@include num-triangle-color($lime-green, $jet);
	h5{
		color: white;
	}
}

.num-triangle-black-white{
	@include num-triangle-color(white, $jet)
}
.num-triangle-green{
	@include num-triangle-color($jet, $lime-green);
}


.tilt2{
	h5, h6{
		@include transform(rotate(-35deg));
		// transform: rotate(-35deg);
		margin-left: -0.3rem; 
    	margin-top: 0.2rem;

	}
	@include transform(rotate(35deg));
	// transform:rotate(35deg);
	margin-top: -0.4rem;

}

.tilt3{
	h5, h6{
		@include transform(rotate(-165deg));
		// transform: rotate(-165deg);
    	margin-left: -0.2rem; 
    	margin-top: -0.2rem;
	}
	@include transform(rotate(165deg));
 	// transform: rotate(165deg);
 	margin-top: -0.7rem;
}


.tilt4{
	h5, h6{
		@include transform(rotate(-335deg));
		// transform: rotate(-335deg);
    	margin-left: 0.2rem; 
    	margin-top: -0.2rem;
	}
	@include transform(rotate(335deg));
	// transform: rotate(335deg);
 	margin-top: -1rem;


}


.tilt5{
	h5, h6{
		@include transform(rotate(-65deg));
		// transform: rotate(-65deg);
    	margin-left: -0.2rem; 
    	margin-top: -0.2rem;
	}
	@include transform(rotate(65deg));
	// transform: rotate(65deg);
 	margin-top: 0rem;


}


.num-triangle-small{
	padding: 0.6rem 1.6rem;
}

}

