.contact{
	padding-bottom: 1vh;
	margin-top: 3rem;

	h3{
		border-bottom: 3px solid #333;
		display: inline-block;
		float: right;
		text-align: right;
		margin-top: -12vh;
	}

	p{
		margin-top: 1vh;
		display: inline-block;
		float: right;
		line-height: 2.2rem;
	}

	h5{
		line-height: 2rem;

		
	}
}




.location-box{
	padding: 2rem 1.5rem;
	border: 2px solid $lime-green;
	display: inline-block;
	margin-top: 2.5rem;
	margin-right: 4rem;
	float: right;

}

.email-box{
	@extend .location-box;
	float: right;
	margin-top: 1rem;
	margin-right: 0;
}








////////////////////////////////////////////////////
.no-cssclippathpolygon{
	.contact{
		h2{
			margin-top: 5vh;

		}
		.location-box{
			margin-bottom: 3rem;
		}
	}

}












