#project-fe-page{



// grid
.content-columns{
  @extend .small-offset-0, .medium-10, .medium-offset-1, .xlarge-offset-0, .xlarge-12, .columns, .small-indent;
  @media #{$small-only}{
  	margin-left: 2% !important;
  }
}

.right-off-canvas-toggle {
  .menu {
  	margin-top: 4rem;

  	@media #{$large-up}{
  		margin-top: 2.5rem;
  	}
  }  
}


//bolded text
.text-bold{
	font-weight: 600;
}
/////////////////////SOLUTION SECTIONS//////////////////
////wireframe smaller////

h6.sol-img-title{
	// font-size: 20px;
	color: #333;
}


.wireframe{

	font-size: 70%;

	@media #{$small-only}{
	display:none;
	}
}


.hidden-wireframe{
	@extend .wireframe;
	visibility: hidden;

}

.sol-text{
	@media (max-width: 1023px){
		margin-bottom: 2rem;
	}
}

.sol-summary{
	p{
		margin-top: 1rem;
	}
}





///////////////////////////////////////////////////////////

// lime-green right floating title
.section-init-title{
	color: $lime-green;
	float: right;
	margin: -15vh 0 0 0;
	width: 70%;
	text-align: right;
	line-height: 1.3;

}


// margin between main sections
.section-init{
	margin-top: -3vh;;
}


// margin between sub-sections
.sub-section-init{
	margin-top: 7vh;

	h2{
		margin-bottom: 1.5rem;
	}

	.img-click img{
		border: 1px solid $jumbo;
	}
}


.alt-sub-section-init{
	background-color: mix($lime-green, white, 70%);
	margin: 14vh 0;
	padding: 6vh 0 12vh 0;
	@include transform(skewY(176deg));
	// transform: skewY(176deg);


	.sub-section-init{
		@include transform(skewY(-176deg));
		// transform: skewY(-176deg);

		.img-click img{
			border: none;
		}
	}
}






////////////magnifying glass--- modal/////////
.img-click a img,
.img-click a{
		cursor: url(../img/magnify-cursor-2.png), zoom-in;
	// 	cursor: zoom-in;
		
	}





//////////////////PANELS - PANEL TRIANGLES///////////////

// <div class= "panel-num-shape">
//	 <div class= "num-triangle">
//		<h5>1</h5>
//	 </div>
// </div>




// white triangle, black number
.panel-num-shape{
	text-align: center;
	margin-top: -1.8rem * $header-line-height;

}

// .num-triangle{
// 	h5, h6{
	
// 		margin-top: -0.5rem
// 	}

// 	background-color: white;
// 	-webkit-clip-path: polygon(45% 0%, 100% 50%, 0 80%);
// 	padding: 1rem 2rem;
// 	display: inline-block;
// }



@mixin num-triangle-color($num-color, $background-color){
	h5, h6{
		margin-top: -0.5rem;
		color: $num-color;
		// transform: rotate(-$rotate);
	}


	@include clip-path(polygon(45% 0%, 100% 50%, 0 80%));
	// -webkit-clip-path: polygon(45% 0%, 100% 50%, 0 80%);
	display: inline-block;
	padding: 1rem 2rem;
	// padding: (1rem * $padding-multiplier) (2rem * $padding-multiplier);
	background-color: $background-color;
	// transform: rotate($rotate);
}



////////////////////////////////////
.num-triangle-white{
	@include num-triangle-color($jet, white);
}




.num-triangle-black{
	@include num-triangle-color($lime-green, $jet);
	h5{
		color: white;
	}
}

.num-triangle-black-white{
	@include num-triangle-color(white, $jet)
}
.num-triangle-green{
	@include num-triangle-color($jet, $lime-green);
}

.tilt2{
	h5, h6{
		@include transform(rotate(-35deg));
		// transform: rotate(-35deg);
		margin-left: -0.3rem; 
    	margin-top: 0.2rem;

	}
	@include transform(rotate(35deg));
	// transform:rotate(35deg);
	margin-top: -0.4rem;

}

.tilt3{
	h5, h6{
		@include transform(rotate(-165deg));
		// transform: rotate(-165deg);
    	margin-left: -0.2rem; 
    	margin-top: -0.2rem;
	}
	@include transform(rotate(165deg));
 	// transform: rotate(165deg);
 	margin-top: -0.7rem;
}


.tilt4{
	h5, h6{
		@include transform(rotate(-335deg));
		// transform: rotate(-335deg);
    	margin-left: 0.2rem; 
    	margin-top: -0.2rem;
	}
	@include transform(rotate(335deg));
	// transform: rotate(335deg);
 	margin-top: -1rem;


}


.tilt5{
	h5, h6{
		@include transform(rotate(-65deg));
		// transform: rotate(-65deg);
    	margin-left: -0.2rem; 
    	margin-top: -0.2rem;
	}
	@include transform(rotate(65deg));
	// transform: rotate(65deg);
 	margin-top: 0rem;


}


.num-triangle-small{
	padding: 0.6rem 1.6rem;
}



///////fe page
}




