$sub-nav-height: 5.2rem;

[data-magellan-expedition-clone] { visibility: visible; }



div#magellan-bar{
	transform: skewY(176deg);
	margin-top: -8vh;
	border-bottom: 1px solid $lime-green;
	// background-color: transparentize(purple,0.3);



}

.sub-nav{
	// line-height: $sub-nav-height;

	padding:0;



	dd a, dt.active a, dd.active a, li.active a{
		// line-height: $sub-nav-height;
		display: inline-block;
		border-radius: 0;



		p{
			margin-top: $sub-nav-height;
			// line-height: $sub-nav-height;
			transform: skewY(4deg);
			font-size: 0.825rem;
		}

	}



		
	
}