/* line 5, ../scss/_test.scss */
.about-me {
  background-color: white;
  border: none;
  padding: 0;
}

/* line 11, ../scss/_test.scss */
.work-section, .projects {
  background-color: #C8F526;
  padding-bottom: 10rem;
}

/* line 17, ../scss/_test.scss */
.triangle-3 {
  height: 30vh;
}

/* line 21, ../scss/_test.scss */
.triangle-2, .triangle-3 {
  background: none;
  background-color: #C8F526;
}

/* line 28, ../scss/_test.scss */
.work-title, .projects {
  padding: 0;
}

/* line 33, ../scss/_test.scss */
.work-title {
  margin-top: -10vh;
}

/* line 40, ../scss/_test.scss */
.project-link {
  margin: 4em 0 0 0;
}

/* line 45, ../scss/_test.scss */
#triangle-3-bottom {
  height: 30vh;
  margin-top: -30vh;
  background-color: white;
}
