#project-paycrave-page{



// grid
.content-columns{
  @extend .small-offset-0, .medium-10, .medium-offset-1, .xlarge-offset-0, .xlarge-12, .columns, .small-indent;
  @media #{$small-only}{
  	margin-left: 2% !important;
  }
}

h2.section-title{
	margin: 2.5rem auto 1rem auto;
}




.sub-sect-init{
	margin-top: 3.8rem;
	h4{
		margin-bottom:1rem;
	}
}












/// divider img
#divider-pic1{
	background: url("../img/proj-paycrave/divider-pic1.jpg") top left;
	background-attachment: fixed;
	margin: 20vh 0 20vh 0;

	@media #{$xlarge-up}{
		background-size: cover;
	}

	@media #{$small-only}{
		background-size: 640px auto;
		background-position: center center;
		background-attachment: scroll;
	}

}




.image-clip{
	height:45vh;
	width: 100%;
	background-color: transparent;
}


.image-clip-before{
	background-color: white;
	width: 100%;
	display: block;
	@include clip-path(polygon(0 0, 100% 0, 0 100%));
	// -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
	border: 5px solid white;
	margin-top: -10vh;
	height: 15vh;
}


.image-clip-after{
	background-color: white;
	width: 100%;
	display: block;
	@include clip-path(polygon(0 100%, 100% 0, 100% 101%));
	// -webkit-clip-path: polygon(0 100%, 100% 0, 100% 101%);
	border: 5px solid white;
	margin-top: -5vh;
	height: 15vh;

}
















}