#project-paycrave-page{
//////////////////////////////////////

img#phone-mock{
	@media #{$medium-up}{
		margin-top: -$header-line-height - $header-top-margin - $h2-font-size - 1rem - 5rem; 
		//1rem= h2 bottom margin set in globals 
		width: 90%;
		float: right;
	}
}

.competition{
	float: left;

}






























//////////////////////////////////////

}